<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>
	<resultMap id="resultMap" type="java.lang.String">
		<result property="id" column="ID" />
	
</resultMap>
	<select id="selectName" parameterType="java.lang.String" resultMap="resultMap">
		SELECT name FROM sample WHERE id = #{id}
	</select>
</mapper>